#form {
  width: 70vw;
  margin: 0 auto;
  height: 100vh;
}

#form p {
  display: inline-block;
  font-size: 11px;
  margin: 1rem;
  margin-left: 1rem;
  color: gray;
}

.container {
  padding: 2rem;
}
.form-group {
  line-height: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.form-group:last-child {
  margin-bottom: 0;
}

input,
select {
  cursor: pointer;
  border: none;
  border-bottom: 1px solid rgb(234, 235, 235);
  color: rgb(228, 100, 37);
  background: transparent;
  letter-spacing: 2px;
}

option {
  background: rgb(36, 44, 46);
}

input[type="text"]:focus,
input[type="password"]:focus,
option:focus {
  outline: none;
  border-bottom: 1px solid rgb(228, 100, 37);
}

.save {
  cursor: pointer;
  background: none;
  border-color: rgb(228, 100, 37);
  color: rgb(228, 100, 37);
  font-size: 14px;
  letter-spacing: 2px;
  float: right;
  margin-right: 2rem;
}
.clear {
  float: left;
  margin-right: 0;
  margin-left: 2rem;
}

button:active {
  background-color: rgb(228, 100, 37);
  color: rgb(36, 44, 46, 0.6);
}

.dialog {
  position: fixed;
  top: 30%;
  left: 0;
  background: rgb(228, 100, 37, 0.8);
  z-index: 10;
  transform: translateX(-100%);
  transition: transform 0.5s;
  padding-left: 1rem;
  padding-right: 1rem;
}

.dialog h3 {
  color: rgb(234, 235, 235);
  font-size: 0.8rem;
  letter-spacing: 2px;
}

#dialogBtn {
  cursor: pointer;
  float: right;
  background: transparent;
  border: none;
  outline: none;
  color: rgb(234, 235, 235);
  margin-bottom: 0.5rem;
}
.form-group label {
  color: rgb(234, 235, 235);
  letter-spacing: 2px;
  font-size: 1rem;
}
